{{!

  CUSTOMIZE NAVIGATION LINKS

  You can modify the links bellow, change icons and words, etc.
}}

<div id="navigation">
  <a href="#">
    <i class="fa fa-bars fa-lg"></i>
  </a>
  <ul class="navigation-options card">
    <li id="nav-home" class="unstyled">
      <a href="/">
        {{! customize bellow }}
        <i class="fa fa-home fa-fw"></i> Home
      </a>
    </li>
    <li id="nav-about" class="unstyled">
      <a href="/about">
        {{! customize bellow }}
        <i class="fa fa-info-circle fa-fw"></i> About
      </a>
    </li>
    <li id="nav-contact" class="unstyled">
      <a href="/contact">
        {{! customize bellow }}
        <i class="fa fa-envelope fa-fw"></i> Contact
      </a>
    </li>
  </ul>
</div>
