<span class="post-meta">
  <i class="fa fa-calendar"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
  <span class="pull-right">{{tags prefix="<i class='fa fa-tags'></i> " separator=", "}}</span>
</span>
