<form>
  <input type="text" id="search-field" class="material-text">
  <button type="submit" value="search" class="material-button"><i class="fa fa-search fa-lg"></i></button>
</form>

<section id="results"></section>
