{{!-- SOCIAL MEDIA LINKS --}}
{{!-- change the "href" part with a valid link to your sites --}}
<div id="iCandy-socialmedia" class="fade-in three">
  <ul class="unstyled float-left">
    <li>
      {{!-- YOUR TWITTER PROFILE --}}
      <a href="https://twitter.com/zumicts" title="Twitter" target="_blank" class="btn">
        <i class="fa fa-twitter fa-lg"></i>
        Twitter
      </a>
    </li>
    <li>
      {{!-- YOUR COMPANY URL --}}
      <a href="http://audioti.ca" title="Website" target="_blank" class="btn">
        <i class="fa fa-music fa-lg"></i>
        audioti.ca
      </a>
    </li>
  </ul>
</div>
